
.root {
    -fx-background-color: #1a1a1a;
}


.label {
    -fx-text-fill: #ffffff;
}


.button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-color: #555555;
    -fx-border-radius: 5;
}


.button:hover {
    -fx-background-color: #444444;
}


.list-view, .text-area, .text-field {
    -fx-control-inner-background: #2b2b2b;
    -fx-text-fill: white;
}